<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <property name="jdbc.driver.class" value="com.mysql.cj.jdbc.Driver"/>
        <property name="jdbc.url" value="jdbc:mysql://localhost:3306/sankaku?characterEncoding=UTF-8&amp;serverTimezone=UTC&amp;zeroDateTimeBehavior=convertToNull&amp;useSSL=false&amp;useAffectedRows=true&amp;queryTimeout=24000"/>
        <property name="jdbc.username" value="root"/>
        <property name="jdbc.password" value="shunzhiai"/>
    </properties>

    <settings>
<!--        <setting name="logImpl" value="SLF4J"/>-->
<!--        <setting name="logImpl" value="STDOUT_LOGGING"/>-->
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <setting name="autoMappingUnknownColumnBehavior"
                 value="WARNING"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="600"/>
        <setting name="defaultFetchSize" value="100"/>
        <setting name="safeRowBoundsEnabled" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="localCacheScope" value="SESSION"/>
        <setting name="jdbcTypeForNull" value="OTHER"/>
        <setting name="lazyLoadTriggerMethods"
                 value="equals,clone,hashCode,toString"/>
    </settings>
    <!--<typeAliases>-->
        <!--<typeAlias type="pers.missionlee.web.component.session.SessionBean" alias="SessionBean"/>-->
    <!--</typeAliases>-->
    <!--<plugins>-->
        <!--<plugin interceptor="com.github.pagehelper.PageInterceptor">-->
            <!-- 4.0.0以后版本可以不设置该参数 -->
            <!--<property name="dialect" value="mysql"/>-->
            <!-- 该参数默认为false -->
            <!-- 设置为true时，会将RowBounds第一个参数offset当成pageNum页码使用 -->
            <!-- 和startPage中的pageNum效果一样-->
            <!--<property name="offsetAsPageNum" value="true"/>-->
            <!-- 该参数默认为false -->
            <!-- 设置为true时，使用RowBounds分页会进行count查询 -->
            <!--<property name="rowBoundsWithCount" value="true"/>-->
            <!-- 设置为true时，如果pageSize=0或者RowBounds.limit = 0就会查询出全部的结果 -->
            <!-- （相当于没有执行分页查询，但是返回结果仍然是Page类型）-->
            <!--<property name="pageSizeZero" value="true"/>-->
            <!-- 3.3.0版本可用 - 分页参数合理化，默认false禁用 -->
            <!-- 启用合理化时，如果pageNum<1会查询第一页，如果pageNum>pages会查询最后一页 -->
            <!-- 禁用合理化时，如果pageNum<1或pageNum>pages会返回空数据 -->
            <!--<property name="reasonable" value="true"/>-->
            <!-- 3.5.0版本可用 - 为了支持startPage(Object params)方法 -->
            <!-- 增加了一个`params`参数来配置参数映射，用于从Map或ServletRequest中取值 -->
            <!-- 可以配置pageNum,pageSize,count,pageSizeZero,reasonable,orderBy,不配置映射的用默认值 -->
            <!-- 不理解该含义的前提下，不要随便复制该配置 -->
            <!--<property name="params" value="pageNum=start;pageSize=limit;"/>-->
            <!-- 支持通过Mapper接口参数来传递分页参数 -->
            <!--<property name="supportMethodsArguments" value="true"/>-->
            <!-- always总是返回PageInfo类型,check检查返回类型是否为PageInfo,none返回Page -->
            <!--<property name="returnPageInfo" value="check"/>-->
        <!--</plugin>-->
    <!--</plugins>-->

    <!-- 环境们 -->
    <environments default="development">
        <!-- id为环境的唯一标识 -->
        <environment id="development">
            <!-- 事物管理 -->
            <transactionManager type="JDBC"/>
            <!-- 数据源 -->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver.class}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
                <property name="poolMaximumActiveConnections" value="100"/>
                <property name="poolMaximumIdleConnections" value="50"/>
                <property name="poolTimeToWait" value="20000"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 多数据库支持 -->
    <!--<databaseIdProvider type="DB_VENDOR">-->
        <!--<property name="MySQL" value="mysql"></property>-->
        <!--<property name="Oracle" value="oracle"></property>-->
        <!--<property name="SQL Server" value="sql server"></property>-->
    <!--</databaseIdProvider>-->

    <!-- sql映射文件注册 -->
    <mappers>
        <mapper resource="mybatis/mapper/sankaku.xml"></mapper>
        <mapper resource="mybatis/mapper/sankaku-det.xml"></mapper>
        <mapper resource="mybatis/mapper/chan-artist.xml"></mapper>
        <mapper resource="mybatis/mapper/chan-artwork.xml"></mapper>
        <mapper resource="mybatis/mapper/chan-bookparent.xml"></mapper>
        <mapper resource="mybatis/mapper/chan-common.xml"></mapper>
    </mappers>

</configuration>
